$base-white: #ffffff;
$base-black: #000000;
$brand-black: #1f1f1f;
$brand-white: #d4d4d4;
$brand-grey: #707070;
$brand-red: #731010;
$brand-lightred: #a80000;
$brand-cyan: #4cffe2;
$brand-blue: #2752f9;
$brand-lightblue: #00a5ff;
$brand-darkblue: #000578;
